.chatroom {
    background-color: white;
    border: 2px solid black;
    width: 80vw;
    text-align: left;
}

.chatroom_outer {
    margin: 0 auto;
    width: 80vw;
    border: 2px solid black;

    text-align: center;
}