.forms {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.primaryTitle {
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 5vh;
}

.forms .textInput {
    display: inline-block;
    margin: 2vh auto;
    height: 40px;
    width: 30vw;
}

.forms .textInput::-webkit-input-placeholder {
    font-size: 15px;
}

.submitButton {
    margin-top: 3vh;
    width: fit-content;
    width: 30vw;
    height: 40px;
    text-transform: uppercase;
    font-size: medium;
    min-width: 200px;
    background: #c5d0ff;
    color: black;
    transition: .75s;
}

.submitButton:hover {
    background: linear-gradient(45deg, rgb(203, 152, 255) 50%, white);
    cursor: pointer;
}

#checkboxLogin {
    display: inline-block;
    text-align: center;
}

#rememberMe {
    display: inline;
    margin: 0 auto;
    padding: 0;
}

#rememberMeText {
    font-size: 2.5vh;
}

#rememberMe:hover,
#rememberMeText:hover {
    cursor: pointer;
}

#noAccountMessage {
    font-size: 2.5vh;
}

.forms select, 
.forms label,
.forms span {
    font-size: 20px;
    margin: 10px;
}

.options {
    width: 30vw;
    height: 40px;
}