body {
    margin: 0px auto;
    padding: 0px;
    min-width: 375px;
    min-height: 667px;
    background-color: darkgray;
}

.navbar {
    background-color: #be0606;
    border-bottom: 4px solid black;
}
.navbar-right {
    display: inline-block;
    vertical-align: top;
}
.navbar-right a {
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover{
    background-color: #960303;
}

.sidebar {
    display: inline-block;
    width: 200px;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #be0606;
    color: white;
    border-right: 3px solid black;
}

.content {
    display: inline-block;
}

.sidebarTitle {
    color: white
}

.sidebarLink {
    text-decoration: none;
    color: white;
}

.navbar2 {
    background-color: #be0606;
    text-align: center;
    border-bottom: 2px solid black;
}

.navbar2 a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-size: large;
    text-decoration: none;
    color: white;
}

.navbar2:hover {
    background-color: #960303;
    cursor: pointer;
}

.footer {
    text-align: right;
    margin: 0px;
    padding: 10px;
    color: white;
    background-color: #be0606;
}